* {
  margin: 0;
  padding: 0;
}
.wrap {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.demo {
  width: 300px;
  height: 300px;
  padding: 2px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}
.demo dt {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.demo dt img {
  width: 100%;
  height: 100%;
}
.demo dd:first-of-type {
  height: 50px;
  text-align: center;
  background: rgba(197, 197, 197, 0.3);
  color: #000;
  line-height: 50px;
  font-size: 20px;
}
.demo dd:last-of-type {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  background: rgba(197, 197, 197, 0.3);
}
.demo dd:last-of-type img {
  height: 100%;
}
.demo dd:hover {
  background: rgba(0, 0, 0, 0.2);
}
