*{padding: 0;margin: 0;font-family: Arial;font-size: 14px;}
a{text-decoration: none;}
body {min-width: 1200px;}
.orange {color: #f46208;font-size: 48px;font-weight: 100;letter-spacing: 10px;line-height: 90px;height: 90px;padding-top: 50px;text-align: center;}
/* header区 */
header {width: 100%;height: 60px;background: #2e2e2e;}
header div {width: 1200px;margin: 0 auto;}
header div img {margin: 15px 0;}
header div nav {float: right;}
header div nav a {display: inline-block;line-height: 60px;color: #fff;height: 60px;padding: 0 10px;}
header div nav a:hover{color: #000;background: #f00;}
/* banner区 */
.banner{width: 100%;height: 478px;}
.banner img {width: 100%;height: 100%;}
/* portfolio区 */
.portfolio {width: 100%;height: 697px;}
.portfolio > div {width: 50%;margin: 0 auto;}
.portfolio > div > p {text-align: center;line-height: 30px;margin: 20px 0;}
.portfolio > div > p > span {display: inline-block;text-align: center;height: 30px;height: 30px;padding: 0 10px;margin: 30px 5px;border: 1px solid #f46208;}
.portfolio > div > p > span:hover{background: #f46208;color: #fff;cursor: pointer;}
.portfolio > img {width: 100%;height: 345px;}
/* stats区 */
.stats {width: 100%;height: 500px;}
.stats > div {width: 50%;margin: 0 auto;}
.stats > div > p {text-align: center;line-height: 30px;margin: 20px 0;}
.stats > div > dl {margin-top: 20px;float: left;height: 165px;width: 25%;line-height: 30px;text-align: center;}
.stats > div > dl > dd:first-of-type {font-weight: bold;font-size: 16px;}
.stats > div > dl > dd:last-of-type {color: #f46208;font-size: 30px;line-height: 50px;letter-spacing: 5px;}
/* team区 */
.team {width: 100%;height: 550px;background: #2e2e2e;}
.team div{width: 50%;margin: 0 auto;}
.team > div > p {text-align: center;line-height: 30px;margin: 20px 0;color: #fff;}
.team > div > dl {margin-top: 20px;float: left;height: 120px;width: 33%;line-height: 30px;text-align: center;color: #fff;}
.team > div > dl > dt >img {width: 120px;height: 120px;}
.team > div > dl > dd:first-of-type {font-size: 16px;}
.team > div > dl > dd:last-of-type {padding: 0 5px;font-size: 12px;line-height: 16px;}
/* contact区 */
.contact {width: 100%;height: 595px;}
.contact > div {width: 50%;margin: 30px auto;position: relative;}
.contact > div > p {text-align: center;line-height: 30px;margin: 20px 0;}
.contact > div input {width: 49%;height: 30px;margin: 10px 0;}
.contact > div input[type=textarea]{width: 99%;height: 150px;}
.contact > div button:hover{cursor: pointer;}
.contact > div button {width: 200px;height: 40px;line-height: 40px;border: none;background: #f46208;color: #fff;position: absolute;bottom:-50px;left: 50%;margin-left:-100px;}
/* footer区 */
footer{width:100%;height: 70px;background: #000;}
footer > p {line-height: 70px;text-align: center;color: #fff;}