*{
	margin: 0;
	padding: 0;
	font-family: " Microsoft YaHei";
}
a{
	color: #000;
	text-decoration: none;
}
body{
	width: 1200px;
	margin: 0 auto;
}
h1{
	margin: 10px auto;
	text-align: center;
}
.tit{
	height: 40px;
	width: 1200px;
	text-align: center;
	margin: 0 auto;
}
.tit span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	width: 25%;
	float: left;

}
.banner{
	width: 1200px;
	height: 500px;
	overflow: hidden;
	border:1px solid #fff;
	color: #666;
}
.img{
	width: 1200px;
	height: 460px;
	float: left;
	position: relative;
	overflow: hidden; 
	display: none; 
}
.active{
	display: block;
}

 .name{
	background-color: #fc0;
	border: 1px,solid #fc0;
	border-radius: 5px;
	font-weight: bold;
}