* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.parcel {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
/* top区 */
.top {
  width: 100%;
  position: relative;
  height: 30px;
  background: #f5f5f5;
  line-height: 30px;
  font-size: 12px;
  color: #868686;
}
.top .tel {
  float: left;
}
.top .tel span {
  position: relative;
  margin-left: 17px;
}
.top .tel span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -17px;
  height: 17px;
  width: 17px;
  background: url('../image/icon-call.png') no-repeat;
}
.top .help {
  float: right;
}
.top .help_nav a {
  color: #868686;
}
.top .help_nav a:nth-of-type(5) {
  margin-left: 80px;
}
.top .help_nav a:nth-of-type(4) {
  margin-left: 16px;
}
.top .help_nav a:nth-of-type(3) {
  margin-left: 30px;
}
.top .help_nav a:nth-of-type(2) {
  margin-left: 16px;
}
.top .help_nav a:nth-of-type(n+3) {
  color: #00b3ec;
}
/* header区 */
.header {
  width: 100%;
  position: relative;
  height: 90px;
}
.header .logo {
  float: left;
  width: 380px;
  margin: 6px;
}
.header .logo img {
  width: 100%;
}
.header .search {
  float: right;
  width: 328px;
  height: 38px;
  background: url('../image/ui-search.jpg');
  margin-top: 29px;
  position: relative;
}
.header .search input {
  width: 210px;
  height: 33px;
  border: none;
  outline: 0;
  position: absolute;
  top: 1px;
  left: 70px;
}
.header .search span {
  display: block;
  position: absolute;
  font-size: 16px;
  color: #fff;
  top: 8px;
  left: 10px;
  cursor: pointer;
  padding-right: 20px;
}
.header .search ul {
  position: absolute;
  top: 38px;
  box-shadow: 1px 1px 4px #ccc;
  display: none;
  background: #fff;
  z-index: 1;
}
.header .search li {
  font-size: 16px;
  color: #868686;
  line-height: 22px;
  width: 70px;
  text-align: center;
  cursor: pointer;
}
.header .search li:hover {
  background: #ebeef5;
}
/* nav区 */
.nav {
  width: 100%;
  position: relative;
  height: 35px;
  background: #60bff2;
}
.nav .nav_list {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.nav .nav_list a {
  display: block;
  float: left;
  margin-left: 30px;
  color: #fff;
  line-height: 35px;
}
.nav .nav_list a:last-child {
  float: right;
}
.nav .nav_list a:hover {
  color: #d7f3ff;
}
/* intro区 */
.intro {
  width: 100%;
  position: relative;
  height: 260px;
  margin: 30px 0 40px 0;
}
.intro .parcel {
  background: #f5f5f5;
}
.intro .parcel p {
  margin: 0 25px;
  height: 50px;
  line-height: 50px;
  color: #000;
  border-bottom: 1px solid #ccc;
}
.intro .parcel p span:nth-of-type(n+1) {
  float: right;
  margin-left: 20px;
  font-size: 12px;
}
.intro .parcel p span:nth-of-type(n+1) b {
  font-weight: 400;
  color: #00f;
}
.intro .parcel p span:first-of-type {
  float: left;
  font-size: 16px;
  margin: 0;
}
.intro .parcel p span:first-of-type a {
  display: inline-block;
  margin-left: 10px;
  color: #f29600;
  font-size: 12px;
}
.intro .parcel .msg {
  margin: 10px 25px;
}
.intro .parcel .msg div:first-of-type {
  float: left;
  height: 150px;
  width: 210px;
}
.intro .parcel .msg div:last-of-type {
  float: right;
  width: 250px;
  height: 165px;
}
.intro .parcel .msg div:last-of-type img {
  width: 100%;
  height: 100%;
}
.intro .parcel .msg .path {
  float: left;
  width: 480px;
}
.intro .parcel .msg .path p {
  border: 0;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin: 10px 25px;
  color: #888;
}
.intro .parcel .msg .path p span {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 15px;
}
.intro .parcel .msg .path p:nth-of-type(1) span {
  background: url('../image/icon-web.png') no-repeat;
}
.intro .parcel .msg .path p:nth-of-type(2) span {
  background: url('../image/icon-web.png') no-repeat 0 -21px;
}
.intro .parcel .msg .path p:nth-of-type(3) span {
  background: url('../image/icon-web.png') no-repeat 0 -43px;
}
.intro .parcel .msg .path p:nth-of-type(4) span {
  background: url('../image/icon-web.png') no-repeat 0 -65px;
  margin-bottom: 60px;
}
/* hospital区 */
.hospital {
  width: 100%;
  position: relative;
}
.hospital .tab {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
}
.hospital .tab a {
  float: left;
  width: 100px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
}
.hospital .tab a:last-child {
  color: #60bbf7;
  font-size: 14px;
}
.hospital .content {
  width: 100%;
}
.hospital .content table {
  border-collapse: collapse;
  text-align: center;
}
.hospital .content td {
  width: 92px;
  border: 1px solid #ccc;
  color: #868686;
}
.hospital .content tr:nth-of-type(1) {
  height: 45px;
}
.hospital .content tr:nth-of-type(1) td:nth-of-type(1) {
  width: 35px;
  background: url('../image/icon-scheduling-left.jpg') no-repeat center center;
}
.hospital .content tr:nth-of-type(1) td:nth-last-of-type(2) {
  width: 35px;
  background: url('../image/icon-scheduling-right.jpg') no-repeat center center;
}
.hospital .content tr:nth-of-type(1) td:nth-last-of-type(1) {
  width: 265px;
}
.hospital .content tr:nth-of-type(1) {
  height: 45px;
}
.hospital .content tr:nth-of-type(2) {
  height: 92px;
}
.hospital .content tr:nth-of-type(3) {
  height: 92px;
  background: #f2f8ff;
}
.hospital .content tr:nth-of-type(4) {
  height: 92px;
}
.hospital .content tr:nth-of-type(5) {
  height: 64px;
}
.hospital .content td:nth-of-type(1),
.hospital .content td:nth-last-of-type(1) {
  width: 35px;
}
.hospital .content td.tr_right,
.hospital .content td.tr_left {
  width: 35px;
  cursor: pointer;
}
.hospital .content td.brif {
  width: 265px;
  height: 325px;
  overflow: hidden;
  vertical-align: top;
  text-align: left;
}
.hospital .content td.brif div {
  height: 325px;
  width: 265px;
  overflow-y: scroll;
}
.hospital .content td.brif div b {
  font-weight: 400;
  color: #000;
  font-size: 16px;
  display: block;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.hospital .content td.brif div span {
  display: block;
  margin-left: 10px;
  line-height: 20px;
  font-size: 14px;
}
.hospital .content td.brif div span:nth-of-type(2n+1) {
  font-size: 14px;
  color: #000;
}
.hospital .content td.brif div span:nth-of-type(2n) {
  font-size: 12px;
  color: #868686;
}
.hospital .content td.right {
  background: #f2f8ff;
  border-top: 2px solid #f2f8ff;
}
.hospital .content .left {
  background: #f2f8ff;
  border-top: 2px solid #f2f8ff;
  color: #000;
}
.hospital .content .bottom span {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: url('../image/icon-info.jpg') no-repeat center center;
}
.hospital::after {
  content: "";
  display: block;
  clear: both;
}
/* footer区 */
footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  background: #acacac;
  margin-top: 80px;
}
