* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
}
a {
  text-decoration: none;
}
/* 头部样式 */
.header {
  height: 60px;
  width: 100%;
  position: relative;
  background: #000;
}
.header .logo {
  float: left;
  height: 40px;
  width: 128px;
  margin: 10px 25px;
}
.header .nav {
  line-height: 60px;
  margin-left: 30px;
  float: left;
}
.header .nav_item {
  line-height: 60px;
  padding: 0px 20px;
  color: #fff;
  float: left;
}
.header .nav_item:hover {
  background: #363c41;
}
.header .nav .nav_item_icon_new {
  background: url('../image/icon-new.png') no-repeat 75px 10px #363c41;
}
.header .search_header {
  height: 40px;
  width: 275px;
  margin: 10px 20px;
  float: right;
  border-bottom: 1px solid #999;
  position: relative;
}
.header .search_header input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: #ccc;
  line-height: 40px;
}
.header .search_header input:focus {
  outline: 0;
}
.header .search_header::before {
  content: "前端入门";
  display: block;
  height: 30px;
  width: 72px;
  line-height: 30px;
  text-align: center;
  color: #999;
  background: #363c41;
  position: absolute;
  top: 8px;
  left: 0;
}
.header .search_header_submit {
  display: block;
  height: 22px;
  width: 22px;
  background: #f00;
  position: absolute;
  top: 9px;
  right: 20px;
  background: url('../image/icon-1-sprite_w22.png') no-repeat 0 0px;
}
.header .personal {
  width: 190px;
  height: 60px;
  line-height: 60px;
  float: right;
  margin-right: 25px;
}
.header .personal_item {
  display: block;
  float: left;
  position: relative;
  height: 60px;
  width: 60px;
}
.header .personal_left:before,
.header .personal_medium:before,
.header .personal_right:before {
  content: "";
  display: block;
  position: absolute;
  top: 19px;
  left: 19px;
  height: 22px;
  width: 22px;
}
.header .personal_left:before {
  background: url('../image/shopcar.png') no-repeat 0px -210px;
}
.header .personal_medium:before {
  background: url('../image/icon-1-sprite_w22.png') no-repeat 0px 0px;
}
.header .personal_right:before {
  top: 12px;
  left: 12px;
  height: 36px;
  width: 36px;
  background: url('../image/ava.jpg') no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
}
/* banner区 */
.banner {
  height: 560px;
  width: 100%;
  position: relative;
  background: url('../image/bg.jpg') no-repeat;
  background-size: 100% 100%;
}
/* course区 */
.course {
  height: 980px;
  width: 100%;
  position: relative;
}
.course .contaniter {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -120px;
}
.course .contaniter .course-item {
  width: 285px;
  height: 300px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 7px 1px #ccc;
}
.course .contaniter .course-item .course_bg {
  width: 100%;
  height: 110px;
}
.course .contaniter .course-item .course_bg img {
  width: 100%;
  height: 100%;
}
.course .contaniter .course-item .info {
  width: 230px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.course .contaniter .course-item .info p {
  margin-top: 28px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #07111b;
}
.course .contaniter .course-item .info span {
  display: block;
  position: absolute;
  bottom: 13px;
  left: 0;
  line-height: 20px;
  line-height: 14px;
  font-size: 14px;
  color: #959aa0;
}
.course .contaniter .course-item .price {
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  padding-top: 40px;
  text-indent: 28px;
  color: #f00;
  font-size: 16px;
}
/* footer区 */
.footer {
  height: 95px;
  width: 100%;
  position: relative;
  background: #000;
  color: #fff;
}
.footer .contaniter {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.footer .contaniter .link {
  float: left;
  color: #959aa0;
}
.footer .contaniter .link .link_nav a {
  display: inline-block;
  margin: 30px 30px 14px 0;
  font-size: 14px;
  color: #959aa0;
}
.footer .contaniter .link .link_nav a:hover {
  color: #fff;
}
.footer .contaniter .link p {
  font-size: 12px;
}
.footer .contaniter .login-ways {
  float: right;
  margin: 30px auto;
}
.footer .contaniter .login-ways a {
  display: inline-block;
  height: 33px;
  width: 33px;
  background: url('../image/footer-sprite-01.png') no-repeat;
  border-radius: 50%;
  position: relative;
  background-color: #000000;
}
.footer .contaniter .login-ways a:hover {
  background: url('../image/footer-sprite-02.png') no-repeat;
}
.footer .contaniter .login-ways .first {
  background-position: 0px -278px;
}
.footer .contaniter .login-ways .first:hover {
  background-position: 0px -278px;
}
.footer .contaniter .login-ways .first:hover::before {
  content: "";
  display: block;
  height: 210px;
  width: 160px;
  position: absolute;
  bottom: 40px;
  left: -70px;
  background: url('../image/footer-sprite-01.png') no-repeat;
}
.footer .contaniter .login-ways .second {
  background-position: 0px -321px;
}
.footer .contaniter .login-ways .second:hover {
  background-position: 0px -321px;
}
.footer .contaniter .login-ways .thrid {
  background-position: 0px -363px;
}
.footer .contaniter .login-ways .thrid:hover {
  background-position: 0px -363px;
}
