*{
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.banner-box{
	border: 10px solid #bbb;
	position: relative;
	width: 1200px;
	margin: 0 auto;

}
.img-box{
	width: 1200px;
	height: 460px;
	margin: 0 auto;
	overflow: hidden;
}
.img-box div{
	float: left;
	display: none; 
}

.button{
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 16px;
	height: 30px;
	margin-top: -15px;
}
.next{
	left: auto;
	right: 0;
}
.dots{
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.dots span{
	display: inline-block;
	width: 12px;
	height: 12px;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
	background: rgba(10,10,10,0.4);
}
.dots span.active{
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 0 2px rgba(10,10,10,0.4) inset;
	cursor: hand;
} 
.img-box .banner-now{
	display: block;
}