*{
	margin:0;
	padding:0;
}
.wrap{
	width: 400px;
	height: 500px;
	border: 1px solid #000;
	margin: 20px auto;
	position: relative;
}
.wrap img{
	width: 100%;
	height: 100%;
}
.show{
	width: 400px;
	height: 500px;
}
.list{
	width: 400px;
	height: 100px;
	position:absolute;
	top: 505px;
	left:0;
}
.list > img{
	box-sizing: border-box;
	display: inline-block;
	width: 23%;
	height: 100%;
	border: 1px solid #ccc;
}
img.active{
	border: 2px solid #f00;
}
.play{
	/* display: none; */
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	position: absolute;
	top: 0;
	left: 105%;
	overflow: hidden;
}
.play img{
	position: absolute;
}
.rect{
	border: 1px solid #ccc;
	position: absolute;
	top:0;
	left:0;
	width: 200px;
	height: 250px;
	background: #0f0;
	opacity: .3;
	cursor: move;
}
.hide{
	display: none;
}