*{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;
	min-width: 1000px;
}
.bg{
	width: 100%;
	height: 100%;
	background: linear-gradient(rgb(196, 228, 253) 10%,transparent 60%,rgb(148, 190, 89));
}
.contener{
	width: 100%;
	height: 100%;
	position:relative;
	overflow: hidden;
}
.contener > .cloud{
	height: 80px;
	width: 80px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
}
.contener > .cloud:before{
	content: "";
	display:block;
	height: 50px;
	width: 50px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 25px;
	left: -40px;
}
.contener > .cloud:after{
	content: "";
	display:block;
	height:45px;
	width: 45px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 35px;
	left: 45px;
}
.contener > .cloud >div{
	height:40px;
	width: 40px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 45px;
	left: -15px;
}
.contener > .cloud >div:before{
	content: "";
	display: block;
	height: 40px;
	width: 40px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: -5px;
	left: -32px;
	transform: rotate(-30deg);
}
.contener > .first {
	top: 20px;
	right: -150px;
	opacity: .85;
	-webkit-animation: Cloud 20s ease 1s infinite;
	animation: Cloud 9s linear 1s infinite;

}
.contener > .second{
	top: 120px;
	right: -150px;
	opacity: .9;
	transform: scale(.7,.7);
	-webkit-animation: Cloud 12s ease .5s infinite;
	animation: Cloud 12s ease .5s infinite;
}
.contener > .third{
	top: 30px;
	right: -150px;
	transform: scale(.9,.9);
	opacity: .65;
	-webkit-animation: Cloud 11s ease .5s infinite;
	animation: Cloud 11s ease .5s infinite;
}
.contener > .fouth{
	top: 80px;
	right: -150px;
	transform: scale(1.1,1.1);
	opacity: .8;
	-webkit-animation: Cloud 10s linear .5s infinite;
	animation: Cloud 10s linear .5s infinite;
}
.contener > .fifth{
	top: 150px;
	right: -150px;
	transform: scale(.8,.8);
	opacity: .75;
	-webkit-animation: Cloud 8s linear 3s infinite;
	animation: Cloud 8s linear 3s infinite;
}
@-webkit-keyframes Cloud{
	from{
		right: -150px;
	}
	to{
		right:100%;
	}
}
@keyframes firstCloud{
	from{
		right: -150px;
	}
	to{
		right: 100%;
	}
}
.rab{
	height: 200px;
	width: 200px;
	position: absolute;
	bottom: 50px;
	right: 200px;
	background: url('../image/rabbit.png') no-repeat center center;
	background-size: 100%;
}